/* BOOTSTRAP */

.table{
    margin-bottom: 0rem;
}
 
.card-body {     
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding: 0.25rem;
}   



.table td, .table th {
    padding: .2rem;
}



.table-hover:hover{
    cursor:pointer;
}
.col-painel {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.card{
    margin-top: 15px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #ffffff;
}
/* FIM BOOTSTRAP */


/* NOVOS ELEMENTO */

    .table-financial td, .table-financial th {
        font-size: 11px;
    }

/* CATEGORIAS */

    /* .categoria-contas-pagar */
    .categoria-contas-pagar{
        color:white;
        font-weight: bold;
        font-size:14px;
        padding: 0.25rem 1.25rem;
    }
    /* Cores categorias */
    .categoria-essenciais {
        background-color: rgb(32, 168, 216);        
    }
    .categoria-compras {
        background-color: rgb(111, 66, 193);
    }
    .categoria-urgencia {
        background-color: rgb(248, 108, 107);
    }
    .categoria-estudos {
        background-color:  	rgb(255, 193, 7);
    }
    .categoria-lazer {
        background-color: rgb(178, 18, 111);
    }
    .categoria-poupanca {
        background-color:rgb(99, 194, 222);
    }
    .categoria-transporte{
        background-color: rgb(200, 206, 211);
    }    
    .categoria-alimentacao{
        background-color: 	rgb(77, 189, 116);
    }
    .categoria-avulsos{
        background-color: rgb(29, 116, 104);
    }



/* TRABALHAR DEPOIS */
    .categoria-somas{
        background-color: rgb(238, 164, 27);
        color:white;
        font-weight: bold;
        font-size:14px;
    }
    .categoria-guardar-poupanca {
        background-color: rgb(136, 95, 68);
        color:white;
        font-weight: bold;
        font-size:14px;
    }

    .categoria-taxas {
        background-color: rgb(18, 178, 125);
        color:white;
        font-weight: bold;
        font-size:14px;
    }
    .categoria-receber {
        background-color: rgb(208, 211, 15);
        color:white;
        font-weight: bold;
        font-size:14px;
    }

